.section {
    background-color: $bg;
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}
ul{
    list-style: none;
}
