.section {
    background-color: $bg;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 300ms ease;
    &.active {
        z-index: 2;
        opacity: 1;
        animation: slides 1s ease;
    }
    &.backSect {
        z-index: 1;
    }
    @media screen and(max-width:1199px) {
        left: 0;
        &.open {
            left: 270px;
        }
        .container {
            padding-top: 90px !important;
        }
    }
    @media screen and (max-width: 475px) {
        padding: 0 23px !important;
    }
}
@keyframes slides {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
.hidden {
    display: none !important;
}
.shadowBox {
    box-shadow: $shadow;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width: 500px) {
        padding-top: 28vh !important;
    }
}
.padding-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.btn {
    background-color: $color1;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: $white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    transition: all 300ms ease;
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    .section-title {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 60px;
        h2 {
            font-size: 40px;
            color: $bodytextcolor;
            font-weight: 700;
            position: relative;
            &::before {
                content: " ";
                height: 4px;
                width: 50px;
                background-color: $color1;
                position: absolute;
                top: 100%;
                left: 0;
            }
            &::after {
                content: " ";
                height: 4px;
                width: 25px;
                background-color: $color1;
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: 8px;
            }
        }
    }
}
.rounded-circle {
    border-radius: 100% !important;
}
.dark {
    background: $maindark !important;
    color: $white !important;
    .s-icon {
        background: $darkbg !important;
        color: $white !important;
    }

    .style-switcher {
        background: $darkbg !important;
        h4 {
            color: $textwhite !important;
        }
    }
    .leftSide {
        background-color: $darkbg !important;
        a {
            color: $textwhite !important;
        }
        li {
            a {
                color: $textwhite !important;
                &:active {
                    color: $color1 !important;
                }
            }
        }
    }
    .section {
        background-color: $maindark !important;
        h2 {
            color: $white !important;
        }
    }
    .main {
        color: $textwhite !important;
        .Homepage {
            color: $white !important;
            p {
                color: $textwhite !important;
            }
        }
        .About {
            color: $white !important;
            h3 {
                color: $white !important;
            }
            p {
                color: $textwhite !important;
            }
            .skills {
                h5 {
                    color: $white !important;
                }
                .skill-percent {
                    color: $white !important;
                }
            }
            .personal-info {
                p {
                    color: $white !important;
                }
                span {
                    color: $textwhite !important;
                }
            }
            .title {
                color: $white !important;
            }
            .timeline {
                background: $darkbg !important;
                .timeline-date {
                    color: $textwhite !important;
                }
                .timeline-title {
                    color: $white !important;
                }
                .timeline-text {
                    color: $textwhite !important;
                }
            }
        }
        .service {
            color: $white !important;
            .inner {
                background: $darkbg !important;
            }
            h4 {
                color: $white !important;
            }
            p {
                color: $textwhite !important;
            }
        }
        .portifolio {
            color: $white !important;
            h2 {
                color: $white !important;
            }
        }
        .contact {
            color: $white !important;
            h2 {
                color: $white !important;
            }
            h4 {
                color: $white !important;
            }
            p {
                color: $textwhite !important;
            }
            .contact-form {
                .form-control {
                    background: $darkbg !important;
                    color: $textwhite !important;
                }
                .contactMe-subTitle {
                    color: $white !important;
                }
            }
        }
    }
}
.mainbg {
    background: $color1 !important;
}
.mainbg2 {
    background: $color2 !important;
}
.mainbg3 {
    background: $color3 !important;
}
.mainbg4 {
    background: $color4 !important;
}
.mainbg5 {
    background: $color5 !important;
}

.mainColor {
    color: $color1 !important;
}
.mainColor2 {
    color: $color2 !important;
}
.mainColor3 {
    color: $color3 !important;
}
.mainColor4 {
    color: $color4 !important;
}
.mainColor5 {
    color: $color5 !important;
}
