@import "./varibles";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
}
body {
    background-color: $bodybackground;
    color: $bodytextcolor !important;
    line-height: 1.5;
    font-size: 16px;
    font-family: $bodyfamily !important;
}
.style-switcher{
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    border: 1px solid $bg;
    background-color: $asidebg;
    z-index: 111111;
    transition: all 300ms ease;
    .s-icon{
        position: absolute;
        height: 40px;
    }
}
