@import "./varibles";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    border: none;
}
body {
    background-color: $bodybackground;
    color: $bodytextcolor !important;
    line-height: 1.5;
    font-size: 16px;
    font-family: $bodyfamily !important;
}
.open {
    transform: translateX(-21px) !important;
}
.style-switcher {
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    border: 1px solid $bg;
    background-color: $asidebg;
    z-index: 111111;
    transition: all 300ms ease;
    transform: translateX(100%);
    .style-toggle {
        top: 0;
    }
    h4 {
        margin: 0 0 10px;
        color: $textcolor;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 900;
    }
    .colors {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        span {
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            cursor: pointer;
            &:nth-child(1) {
                background-color: $color1;
            }
            &:nth-child(2) {
                background-color: $color2;
            }
            &:nth-child(3) {
                background-color: $color3;
            }
            &:nth-child(4) {
                background-color: $color4;
            }
            &:last-child {
                background-color: $color5;
            }
        }
    }
    .s-icon {
        position: absolute;
        right: 100%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 20px;
        background-color: $asidebg;
        color: $bodytextcolor;
        border: 1px solid $bg;
        border-radius: 100%;
        margin-right: 25px;
        cursor: pointer;
        transition: all 300ms ease;
    }
    .day-night {
        top: 55px;
    }
}
