$bodybackground: #f2f2ff;
$asidebg: #fdf7ff;
$bg: #e8dfec;
$bodytextcolor: #302e4d;
$textcolor: #504e70;
$bodyfamily: "Poppins" sans-serif;
$color1: #ec1839;
$color2: #fa5b0f;
$color3: #37b182;
$color4: #1854b4;
$color5: #f021b2;
$font2: "Clicker Script", cursive;
$white: #ffffffff;
$shadow: 0 0 20px rgba(48, 46, 77, 0.15);
$maindark: #151515;
$darkbg: #222222;
$textwhite: #e9e9e9e9;
