@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

@import "./modules/varibles";
@import "./modules/classes";
@import "./modules/reset";
.main-container {
    .leftSide {
        width: 270px;
        background-color: $asidebg;
        border-right: 1px solid $bg;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 10;
        transition: all 300ms ease;
        &.open {
            left: 0;
        }
        @media screen and (max-width: 1199px) {
            left: -270px;
        }

        .logo {
            position: absolute;
            top: 50px;
            font-size: 30px;
            a {
                color: $bodytextcolor;
                font-weight: 700;
                padding: 15px 20px;
                font-size: 30px;
                letter-spacing: 5px;
                position: relative;
                span {
                    font-family: $font2;
                    font-size: 40px;
                }
                &::before {
                    content: " ";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-bottom: 5px solid;
                    border-left: 5px solid;
                    bottom: 0;
                    left: 0;
                }
                &::after {
                    content: " ";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-top: 5px solid;
                    border-right: 5px solid;
                    top: 0;
                    right: 0;
                }
                &.main {
                    &::before {
                        border-bottom-color: $color1;
                        border-left-color: $color1;
                    }
                    &::after {
                        border-top-color: $color1;
                        border-right-color: $color1;
                    }
                }
                &.mainSec {
                    &::before {
                        border-bottom-color: $color2;
                        border-left-color: $color2;
                    }
                    &::after {
                        border-top-color: $color2;
                        border-right-color: $color2;
                    }
                }
                &.mainThird {
                    &::before {
                        border-bottom-color: $color3;
                        border-left-color: $color3;
                    }
                    &::after {
                        border-top-color: $color3;
                        border-right-color: $color3;
                    }
                }
                &.mainFourth {
                    &::before {
                        border-bottom-color: $color4;
                        border-left-color: $color4;
                    }
                    &::after {
                        border-top-color: $color4;
                        border-right-color: $color4;
                    }
                }
                &.mainFifth {
                    &::before {
                        border-bottom-color: $color5;
                        border-left-color: $color5;
                    }
                    &::after {
                        border-top-color: $color5;
                        border-right-color: $color5;
                    }
                }
            }
        }
        .navbar {
            display: none;
            align-items: center;
            justify-content: center;
            background-color: $asidebg;
            width: 45px;
            height: 40px;
            border: 1px solid $bg;
            cursor: pointer;
            position: fixed;
            left: 300px;
            top: 20px;
            border-radius: 5px;
            transition: all 300ms ease;
            @media screen and (max-width: 1199px) {
                display: flex;
                left: 30px;
                &.open {
                    left: 300px;
                    span {
                        background-color: transparent;
                        &::before {
                            transform: rotate(45deg);
                            top: 0;
                        }
                        &::after {
                            transform: rotate(-45deg);
                            top: 0;
                        }
                    }
                }
            }
            span {
                display: inline-block;
                position: relative;
                width: 18px;
                height: 2px;
                background-color: $color1;
                &::before {
                    content: " ";
                    position: absolute;
                    width: 18px;
                    height: 2px;
                    background-color: $color1;
                    top: -6px;
                    left: 0;
                }
                &::after {
                    content: " ";
                    position: absolute;
                    width: 18px;
                    height: 2px;
                    background-color: $color1;
                    bottom: -6px;
                    left: 0;
                }
            }
        }
        .nav {
            margin-top: 50px;
            li {
                margin-bottom: 20px;
                display: block;
                a {
                    display: flex;
                    color: $bodytextcolor;
                    font-size: 18px;
                    font-weight: 600;
                    gap: 12px;
                    border-bottom: 1px solid $bg;
                    padding: 5px 15px;

                    &.mainA1 {
                        &.active {
                            color: $color1 !important;
                        }
                    }
                    &.mainA2 {
                        &.active {
                            color: $color2 !important;
                        }
                    }
                    &.mainA3 {
                        &.active {
                            color: $color3 !important;
                        }
                    }
                    &.mainA4 {
                        &.active {
                            color: $color4 !important;
                        }
                    }
                    &.mainA5 {
                        &.active {
                            color: $color5 !important;
                        }
                    }
                }
            }
        }
    }
    .main {
        .Homepage {
            color: $bodytextcolor;
            display: flex;
            min-height: 100vh;
            justify-content: center;
            align-items: center;
            .container {
                .row {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -15px;
                    margin-right: -15px;
                    position: relative;
                    .home-info {
                        flex: 0 0 60%;
                        max-width: 60%;
                        font-family: $bodyfamily;
                        @media screen and (max-width: 991px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .Welcome-greetings {
                            font-size: 28px;
                            margin: 15px 0;
                            .name {
                                font-family: $font2;
                                font-size: 30px;
                                font-weight: 700;
                                color: $color1;
                            }
                            @media screen and (max-width: 490px) {
                                font-size: 25px;
                            }
                        }
                        .Professions {
                            font-size: 30px;
                            margin: 15px 0;
                            .typing {
                                color: $color1;
                            }
                            @media screen and (max-width: 490px) {
                                font-size: 25px;
                            }
                            @media screen and (max-width: 356px) {
                                font-size: 20px;
                            }
                            @media screen and (max-width: 280px) {
                                font-size: 13px;
                            }
                        }
                        p {
                            font-size: 20px;
                            margin-bottom: 40px;
                            color: $textcolor;
                            @media screen and (max-width: 490px) {
                                font-size: 16px;
                            }
                            @media screen and (max-width: 356px) {
                                font-size: 14px;
                            }
                            @media screen and (max-width: 280px) {
                                font-size: 10px;
                            }
                        }
                    }
                    .home-img {
                        position: relative;
                        text-align: center;
                        flex: 0 0 45%;
                        max-width: 40%;
                        @media screen and (max-width: 991px) {
                            display: none;
                        }
                        img {
                            margin: auto;
                            border-radius: 5px;
                            height: 400px;
                        }
                        &::after {
                            content: " ";
                            position: absolute;
                            width: 80px;
                            height: 80px;
                            border-bottom: 10px solid;
                            border-right: 10px solid;
                            right: 20px;
                            bottom: -40px;
                        }
                        &::before {
                            content: " ";
                            position: absolute;
                            width: 80px;
                            height: 80px;
                            border-top: 10px solid;
                            border-left: 10px solid;
                            left: 20px;
                            top: -40px;
                        }
                        &.main {
                            &::before {
                                border-top-color: $color1;
                                border-left-color: $color1;
                            }
                            &::after {
                                border-bottom-color: $color1;
                                border-right-color: $color1;
                            }
                        }
                        &.mainSec {
                            &::before {
                                border-top-color: $color2;
                                border-left-color: $color2;
                            }
                            &::after {
                                border-bottom-color: $color2;
                                border-right-color: $color2;
                            }
                        }
                        &.mainThird {
                            &::before {
                                border-top-color: $color3;
                                border-left-color: $color3;
                            }
                            &::after {
                                border-bottom-color: $color3;
                                border-right-color: $color3;
                            }
                        }
                        &.mainFourth {
                            &::before {
                                border-top-color: $color4;
                                border-left-color: $color4;
                            }
                            &::after {
                                border-bottom-color: $color4;
                                border-right-color: $color4;
                            }
                        }
                        &.mainFifth {
                            &::before {
                                border-top-color: $color5;
                                border-left-color: $color5;
                            }
                            &::after {
                                border-bottom-color: $color5;
                                border-right-color: $color5;
                            }
                        }
                    }
                }
            }
        }
        .About {
            .container {
                padding-top: 60px;
                padding-bottom: 70px;
                .about-content {
                    flex: 0 0 100%;
                    max-width: 100%;
                    .about-text {
                        @media screen and (max-width: 490px) {
                            padding: 0;
                        }
                        h3 {
                            font-size: 25px;
                            margin-bottom: 15px;
                            font-weight: 700;
                            color: $bodytextcolor;
                            span {
                                color: $color1;
                            }
                        }
                        p {
                            font-size: 16px;
                            line-height: 25px;
                            color: $textcolor;
                            @media screen and (max-width: 490px) {
                                font-size: 12px;
                            }
                            @media screen and (max-width: 280px) {
                                font-size: 10px;
                            }
                            span {
                                color: $color1;
                                font-weight: 600;
                            }
                        }
                    }
                    .personal-info {
                        flex: 0 0 60%;
                        max-width: 60%;
                        margin-top: 40px;
                        @media screen and (max-width: 767px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .info-item {
                            flex: 0 0 50%;
                            max-width: 50%;
                            p {
                                font-weight: 700;
                                padding: 10px 0;
                                color: $bodytextcolor;
                                border-bottom: 1px solid $bodybackground;
                                font-family: $bodyfamily;

                                @media screen and (max-width: 470px) {
                                    font-size: 13px;
                                }
                                @media screen and (max-width: 280px) {
                                    font-size: 10px;
                                }

                                span {
                                    font-weight: 400;
                                    color: $textcolor;
                                    margin-left: 4px;
                                    display: inline-block;
                                    @media screen and (max-width: 1199px) {
                                        display: block;
                                        margin-left: 0;
                                    }
                                    @media screen and (max-width: 470px) {
                                        font-size: 11px;
                                    }
                                    @media screen and (max-width: 280px) {
                                        font-size: 8px;
                                    }
                                }
                            }
                        }
                    }
                    .buttons {
                        margin-top: 30px;
                        a {
                            margin-top: 10px;
                        }
                    }
                    .skills {
                        flex: 0 0 40%;
                        max-width: 40%;
                        margin-top: 40px;
                        @media screen and (max-width: 767px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        @media screen and (max-width: 470px) {
                            padding: 0;
                        }
                        .skill-item {
                            flex: 0 0 100%;
                            max-width: 100%;
                            margin-bottom: 20px;

                            h5 {
                                line-height: 40px;
                                font-weight: 600;
                                font-size: 17px;
                                color: $bodytextcolor;
                                text-transform: capitalize;
                            }
                            .progress {
                                width: 100%;
                                height: 7px;
                                background-color: $bodybackground;
                                border-radius: 4px;
                                position: relative;
                                .progress-in {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    height: 100%;
                                    border-radius: 4px;
                                    background-color: $color1;
                                }
                                .skill-percent {
                                    position: absolute;
                                    top: -40px;
                                    right: 0;
                                    color: $bodytextcolor;
                                    font-weight: 400;
                                    line-height: 40px;
                                }
                            }
                        }
                    }
                    .education,
                    .experience {
                        flex: 0 0 50%;
                        max-width: 50%;
                        margin-top: 30px;
                        @media screen and (max-width: 767px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        @media screen and (max-width: 470px) {
                            padding: 0;
                        }
                    }

                    .title {
                        font-size: 28px;
                        font-weight: 700;
                        margin-bottom: 30px;
                        color: $bodytextcolor;
                    }
                    .timeline-box {
                        flex: 0 0 100%;
                        max-width: 100%;
                        @media screen and (max-width: 470px) {
                            padding: 0;
                        }
                        .timeline {
                            position: relative;
                            background-color: $asidebg;
                            width: 100%;
                            padding: 30px 15px;
                            border: 1px solid $bg;
                            border-radius: 10px;
                            .timeline-item {
                                position: relative;
                                padding-left: 37px;
                                padding-bottom: 50px;
                                &:last-child {
                                    padding-bottom: 0;
                                }
                                &::before {
                                    content: " ";
                                    width: 1px;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 7px;
                                }
                                &.mainbbg {
                                    &::before {
                                        background-color: $color1 !important;
                                    }
                                }
                                &.mainbbg2 {
                                    &::before {
                                        background-color: $color2 !important;
                                    }
                                }
                                &.mainbbg3 {
                                    &::before {
                                        background-color: $color3 !important;
                                    }
                                }
                                &.mainbbg4 {
                                    &::before {
                                        background-color: $color4 !important;
                                    }
                                }
                                &.mainbbg5 {
                                    &::before {
                                        background-color: $color5 !important;
                                    }
                                }
                                .circleDot {
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 15px;
                                    height: 15px;
                                    border-radius: 100%;
                                    background-color: $color1;
                                }
                                .timeline-date {
                                    font-size: 16px;
                                    font-weight: 400;
                                    margin-bottom: 12px;
                                    color: $textcolor;
                                    display: flex;
                                    align-items: center;
                                    gap: 8px;
                                }
                                .timeline-title {
                                    font-size: 18px;
                                    font-weight: 800;
                                    text-transform: capitalize;
                                    color: $bodytextcolor;
                                    margin-bottom: 15px;
                                }
                                .timeline-text {
                                    text-align: justify;
                                    font-size: 16px;
                                    color: $textcolor;
                                    line-height: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .service {
            .container {
                padding-top: 60px;
                padding-bottom: 50px;
                .row {
                    .service-item {
                        flex: 0 0 33.33%;
                        max-width: 33.33%;
                        margin-bottom: 30px;
                        @media screen and (max-width: 991px) {
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                        @media screen and (max-width: 767px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .inner {
                            background-color: $asidebg;
                            border: 1px solid $bg;
                            padding: 30px 10px;
                            border-radius: 10px;
                            text-align: center;
                            transition: all 300ms ease;
                            &:hover {
                                cursor: pointer;
                                box-shadow: $shadow;
                            }
                            .icon {
                                display: block;
                                margin: 0 auto 30px;
                                width: 60px;
                                height: 60px;
                                border-radius: 100%;
                                transition: all 300ms ease;
                                .fas {
                                    font-size: 40px;
                                    line-height: 60px;
                                    color: $color1;
                                    transition: all 300ms ease;
                                    &:hover {
                                        font-size: 25px;
                                        color: $white !important;
                                    }
                                }
                                &:hover {
                                    background-color: $color1;
                                }
                                &.mainH1 {
                                    &:hover {
                                        background: $color1 !important;
                                    }
                                }
                                &.mainH2 {
                                    &:hover {
                                        background: $color2 !important;
                                    }
                                }
                                &.mainH3 {
                                    &:hover {
                                        background: $color3 !important;
                                    }
                                }
                                &.mainH4 {
                                    &:hover {
                                        background: $color4 !important;
                                    }
                                }
                                &.mainH5 {
                                    &:hover {
                                        background: $color5 !important;
                                    }
                                }
                            }
                            h4 {
                                font-size: 18px;
                                font-weight: 700;
                                margin-bottom: 15px;
                                color: $bodytextcolor;
                                text-transform: capitalize;
                            }
                            p {
                                font-size: 16px;
                                line-height: 25px;
                                color: $textcolor;
                            }
                        }
                    }
                }
            }
        }
        .portifolio {
            .container {
                padding-top: 60px;
                padding-bottom: 50px;
                .row {
                    .portifolio-heading {
                        flex: 0 0 100%;
                        max-width: 100%;
                        margin-bottom: 40px;
                        h2 {
                            color: $bodytextcolor;
                            font-weight: 500;
                        }
                    }
                    .portfolio-item {
                        flex: 0 0 33.33%;
                        max-width: 33.33%;
                        margin-bottom: 30px;
                        @media screen and (max-width: 991px) {
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                        @media screen and (max-width: 767px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .inner {
                            border: 6px solid $asidebg;
                            border-radius: 10px;
                            overflow: hidden;
                            cursor: pointer;
                            .portfolio-img {
                                position: relative;
                                img {
                                    display: block;
                                    width: 100%;
                                }
                            }
                            .overLay {
                                text-decoration: none;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(0, 0, 0, 0.6);
                                color: $white;
                                border-radius: 5px;
                                font-size: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                opacity: 0;
                                transition: opacity 0.25s ease;
                                cursor: pointer;
                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        .contact {
            .container {
                padding-top: 60px;
                padding-bottom: 50px;
                .social-Icons {
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    span {
                        font-size: 2rem;
                        color: $color1;
                    }
                }
                .row {
                    .contactMe-infoItem {
                        flex: 0 0 25%;
                        max-width: 25%;
                        text-align: center;
                        margin-bottom: 60px;
                        @media screen and (max-width: 991px) {
                            flex: 0 0 50%;
                            max-width: 50%;
                        }
                        @media screen and (max-width: 767px) {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .icon {
                            display: inline-block;
                            .fa-solid {
                                font-size: 25px;
                                color: $color1;
                            }
                            h4 {
                                font-size: 18px;
                                font-weight: 800;
                                color: $bodytextcolor;
                                text-transform: capitalize;
                                margin: 15px 0 5px;
                            }
                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 25px;
                                color: $textcolor;
                            }
                        }
                    }
                    .contact-form {
                        flex: 0 0 100%;
                        max-width: 100%;
                        @media screen and (max-width: 340px) {
                            padding: 0 !important;
                        }
                        .column-6 {
                            flex: 0 0 50%;
                            max-width: 50%;
                            @media screen and (max-width: 767px) {
                                flex: 0 0 100%;
                                max-width: 100%;
                            }
                        }
                        .column-12 {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        textarea {
                            height: 140px !important;
                        }
                        .form-item {
                            @media screen and (max-width: 340px) {
                                padding: 0 !important;
                            }
                            margin-bottom: 30px;
                            .form-group {
                                .form-control {
                                    width: 100%;
                                    height: 50px;
                                    border: 1px solid $bg;
                                    border-radius: 25px;
                                    background-color: $asidebg;
                                    padding: 10px 25px;
                                    font-size: 16px;
                                    color: $textcolor;
                                    transition: all 300ms ease;
                                    &:focus {
                                        box-shadow: $shadow;
                                    }
                                }
                            }
                            .btn {
                                height: 50px;
                                padding: 0 50px;
                            }
                        }
                    }
                }
                .contact-me-title {
                    text-align: center;
                    font-size: 25px;
                    margin-bottom: 20px;
                    font-weight: 600;
                    color: $color1;
                }
                .contactMe-subTitle {
                    text-align: center;
                    font-size: 15px;
                    color: $bodytextcolor;
                    margin-bottom: 60px;
                }
            }
        }
    }
}
