@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
.section {
  background-color: #e8dfec;
  min-height: 100vh;
  display: block;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  z-index: 0;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #fafaff;
  color: #302e4d;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins" sans-serif;
}

.main-container .leftSide {
  width: 270px;
  background-color: #fdf7ff;
  border-right: 1px solid #e8dfec;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 10;
}

.main-container .leftSide .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.main-container .leftSide .logo a {
  color: #302e4d;
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.main-container .leftSide .logo a span {
  font-family: "Clicker Script", cursive;
  font-family: 40px;
}

.main-container .leftSide .logo a::before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #ec1839;
  border-left: 5px solid #ec1839;
  bottom: 0;
  left: 0;
}

.main-container .leftSide .logo a::after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid #ec1839;
  border-right: 5px solid #ec1839;
  top: 0;
  right: 0;
}

.main-container .leftSide .navbar {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 40px;
  border: 1px solid #e8dfec;
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background-color: #fdf7ff;
}

.main-container .leftSide .navbar span {
  width: 18px;
  height: 2px;
  background-color: #ec1839;
  display: inline-block;
  position: relative;
}

.main-container .leftSide .navbar span::before {
  content: " ";
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #ec1839;
  top: -6px;
  left: 0;
}

.main-container .leftSide .navbar span::after {
  content: " ";
  position: absolute;
  width: 18px;
  height: 2px;
  background-color: #ec1839;
  bottom: -6px;
  left: 0;
}

.main-container .leftSide .nav {
  margin-top: 50px;
}

.main-container .leftSide .nav li {
  margin-bottom: 20px;
  display: block;
}

.main-container .leftSide .nav li a {
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  border-bottom: 1px solid #e8dfec;
  color: #302e4d;
  padding: 5px 15px;
}

.main-container .leftSide .nav li a.active {
  color: #ec1839;
}
/*# sourceMappingURL=style.css.map */